:root{
    --preto: #222831;
    --cinza: #393e46;
    --amarelo: #FFD369;
    --branco: white;
}

*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    padding-top: 60px;
}

#navbar{
    background-image: linear-gradient(to right , #FFD369, #393e46);
    border-radius: 0px 0px 5px 5px;
}

#lamborghini-logo{
    height: 80px;
}

menu{
    margin-top: 20px;
    text-align: center;
    background-color: var(--preto);
}

menu a{
    padding: 10px;
    color: var(--branco);
    text-decoration: none;

}

.container{
    background-image: linear-gradient(to right ,#222831,#393e46 );
    padding: 30px;
    margin-top: -14px;
}



.texto{
    color: var(--branco);
    background-color: var(--preto);
    padding: 30px;
    border-radius: 0px 0px 20px 20px;
}

.card{
    margin: auto;
    margin-top: 50px;
    width: 10rem;
    height: 20rem;
}

#card{
    background-color: #222831;
}

.card-body{
    background-color: #222831;
    color: white;
}

#card-title{
    color: white;
}

#saiba-mais{
    background-color: #FFD369;
    color: black;
    border: black;
}

footer{
    background-color: #FFD369;
    text-align: center;
}

footer strong{
    color: blue;
}